{% extends 'users/base.html' %}

{% block head_content %}
<title>platzi sign in</title>
{% endblock  %}


{% block container  %}
{% if form.errors %}
<p class="alert alert-danger">Your username and password didn't match. plase try again </p>

{% endif %}
<form method="POST" action= "{% url "users:login" %}"> 
    {% csrf_token %}
    <div class = "form-group">
        <input  class="form-control" type="text" placeholder="Username" name="username" ></input>
    </div>
     <div class = "form-group">
        <input  class="form-control" type="password" placeholder="Password" name="password" ></input>
    </div>
    
    <button class="btn btn-primary btn-block mt-5" type="submit" >Sign  in</button>


</form>

<p class="mt-4">Dont have account yet? <a href="{% url "users:signup" %}" > sign up here</a> </p>

{% endblock  %}